/* 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* "Rubik", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* "Jersey 10", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Geist, sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

/* 'Schibsted Grotesk', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --black: #211D19;
    --cream: #FEF5E4;
    --green: #C5E4D5;

    --intro-font: 'Schibsted Grotesk', sans-serif;
}

body {
    background-color: var(--cream);
}

/* ------------- Site title ------------- */
h1 {
    font-family: var(--intro-font);
    font-size: var(--h1-type);
    color: var(--black);
}

.about {
    border-bottom: 2px solid; /* Adds a black solid border */
    border-color: var(--black);
}

.nav-bar {
    font-family: var(--intro-font);
    font-size: var(--h2-type);
    display: flex;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

#play-button,
#suggest-button-mobile {
    flex: 1; /* Take up equal space for each button */
    padding: var(--main-padding);; /* Optional padding for button height */
    font-size: 1.2rem; /* Optional font size for better readability */
    text-align: center;
    box-sizing: border-box;
    width: 50vw;

    border: 2px solid; /* Adds a black solid border */
    border-color: var(--black);

    font-size: var(--h2-type);
}

#play-button {
    background-color: var(--green); /* Sample color for Play button */
}

#suggest-button-mobile {
    border-style: solid;
    border-color: var(--black);
}

@media (min-width: 320px) {
    :root {
        --type-p: 20px;
        --h1-type: calc(5 * var(--type-p));
        --h2-type: calc(2 * var(--type-p));

        --main-padding: calc(3 * var(--type-p));
    }

    .about {
        padding: var(--main-padding);
    }

    h1 {
        line-height: 110%;
    }

}
