@font-face {
    font-family: 'Pencerio'; /* Specify the desired font family name */
    src: url('styles/pencerio-hairline.otf') format('truetype'); /* Path to your font file */

    font-family: 'Caligna Free';
    src: url('styles/caligna-free.ttf') format('truetype');

    font-family: 'Kanopi Brazil';
    src: url('styles/kanopibrazil-regular.otf') format('truetype');

    font-family: 'Sergio Trendy';
    src: url('styles/sergio-trendy.ttf') format('truetype');

    /* font-family: 'Pinyon Script';
    src: url('styles/pinyonscript-regular.ttf'); */
}

/* 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 'Pinyon Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

/* body {
    padding: var(--main-padding);
} */

.about,
.filter-year,
.filter-genre,
.suggest-movie,
.movie {
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
}

.about,
.filter-year,
.filter-genre,
.suggest-movie,
.movie {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--h1-type);
    padding-bottom: var(--h1-type);
    line-height: 110%;
    color: #F3F0EA;
}

body {
    background-color: #090D0C;
    color: #F3F0EA;
}

/* ------------- Power button to enter Suggest screen ------------- */
.enter {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set the height of the container to be equal to the viewport height */
}

.enter-button {
    background-color: #AB3A25;
    width: var(--button-size);
    height: var(--button-size);
    padding: 0; /* Remove padding */
    color: #090D0C;
    font-family: 'Poppins', sans-serif;
    font-size: var(--type-p);
    border-radius: 50%; /* Make the button a circle */
    display: flex; /* Ensure content is centered vertically and horizontally */
    justify-content: center;
    align-items: center;
}

.enter-button:hover {
    background-color: #FF5233;
}

.enter-button:active {
    border-color: white;
}

/* ------------- About the site ------------- */
.about {
    background-image: url("static-tv.jpeg");
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.about p {
    font-family: 'Poppins', sans-serif;
    font-size: var(--about-type);
}

/* ------------- Filters: General ------------- */
.label {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: var(--h2-type);
}

hr {
    border: none; /* Remove default border */
    height: 2px; /* Set the height */
    background-color: #000; /* Set the color */
    margin-top: calc(0.5 * var(--h2-type));
    margin-bottom: var(--h2-type);
}

/* ------------- Filters: Genre ------------- */
.filter-genre {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--genre-padding);
}

.filter-genre label {
    font-family: 'Poppins', sans-serif;
    font-size: var(--type-p);
}

.filter-year,
.filter-genre {
    /* display: flex;
    flex-direction: column; */
    padding-bottom: var(--year-padding);
    margin-top: var(--year-padding);
    margin-left: var(--main-padding);
    margin-right: var(--main-padding);
    background: #F3F0EA;
}

/* ------------- Filters: Year ------------- */
.label {
    font-family: 'Poppins', sans-serif;
    font-size: var(--type-p);
    margin-bottom: var(--year-padding);
    display: flex; /* Add flex display */
    align-items: center; /* Align items vertically */
    color: black;
}

.container {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: var(--type-p);
}

.filter-year .toggle-list {
    display: none; /* Hide the list by default */
}

.filter-year.active .toggle-list {
    display: block; /* Show the list when the filter-year is active */
}

.filter-year .label {
    cursor: pointer; /* Change cursor to pointer on hover */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-year .arrow {
    font-size: var(--type-p);
    margin-left: 5px;
}

.filter-year.active .arrow {
    transform: rotate(270deg); /* Rotate arrow when filter-year is active */
}


/* ------------- Check Mark ------------- */
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: calc(1.5 * var(--type-p));
    margin-bottom: 12px;
    cursor: pointer;
    font-size: var(--type-p);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--type-p);
    width: var(--type-p);
    background-color: #eee;
    border: solid 2px;
    border-color: black;
}
  
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
    border: solid 2px;
    border-color: black;
}
  
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #05228B;
}
  
  /* Create the checkmark/indicator (hidden when not checked)
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  } */
  
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
  
  /* Style the checkmark/indicator
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } */

img {
    padding: var(--img-padding);
}

/* ------------- Suggest A Movie ------------- */
#suggest-button {
    font-family: 'Poppins', sans-serif;
    font-size: var(--h2-type);
    padding-top: var(--suggest-padding);
    padding-bottom: var(--suggest-padding);
    padding-left: calc(2 * var(--suggest-padding));
    padding-right: calc(2 * var(--suggest-padding));
    background: #eee;
    border-radius: var(--suggest-radius);
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: black;
}

#suggest-button:active {
    background: #FCECA4;
}

/* ------------- Movie Suggested ------------- */
.movie {
    display: none; /* Hide the movie section by default */
    background-color: black;
}

.movie.active {
    display: block; /* Show the movie section when it has the "active" class*/
}

.exit-button,
.refresh-button {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    border-radius: 50%; /* Make the button a circle */
    border: 4px solid white;
    text-align: center;
}

.movie-info p {
    font-family: 'Poppins', sans-serif;
    font-size: var(--movie-info-type);
    padding: 10px;
    color: white;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: var(--title-type);
    padding-bottom: var(--movie-padding);
    color: White;
}

@media (min-width: 320px) {
    :root {
        --type-p: 50px;

        --h1-type: calc(2 * var(--type-p));
        --h2-type: calc(1 * var(--type-p));
        --about-type: calc(1 * var(--type-p));
        --title-type: calc(2 * var(--type-p));
        --movie-info-type: 18px;

        --button-size: 150px;

        --main-padding: calc(1.5 * var(--type-p));
        --year-padding: calc(0.8 * var(--type-p));
        --genre-padding: calc(2 * var(--type-p));
        --movie-padding: calc(1.5 * var(--type-p));
        --img-padding: calc(1.5 * var(--type-p));
        --enter-padding: calc(0.8 * var(--type-p));
        --suggest-padding: calc(0.5 * var(--type-p));
        --suggest-radius: 100px;
    }

    .filter-year,
    .filter-genre {
        border-radius: 30px;
    }

    .suggestion-desktop {
        display: none;
    }

    .suggestion-mobile {
        display: block;
        position: fixed; /* Fixed positioning to cover the whole screen */
        top: 0;
        left: 0;
        width: 100%; /* Take up the entire width of the screen */
        height: 100%; /* Take up the entire height of the screen */
        z-index: 9999; /* Ensure it appears on top of other content */
        background-color: black; /* Semi-transparent white background */
        padding: 20px; /* Adjust padding as needed */
        overflow-y: auto; /* Enable vertical scrolling if content exceeds screen height */
        margin: 25px;
    }

    .top-bar {
        margin: 30px;
        display: flex;
        justify-content: space-between; /* Spread out the buttons evenly */
        align-items: center; /* Align items vertically */
    }

    .exit-button {
        font-size: 50px;
        font-family: 'Popppins', sans-serif;
    }

    .refresh-button {
        font-family: 'Poppins', sans-serif;
        font-size: 100px;
        color: white;
        justify-content: center;
        align-items: center;
    }

    /* .refresh-button {
       border: solid 1px;
       width: 100px;
       height: 100px;
    } */

    /* .refresh-button img {
        width: 100px;
        height: 100px;
    } */

    .movie-info {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .title {
        line-height: 110%;
    }

    img {
        height: 50vh;
    }
}

@media (min-width: 1200px) {
    :root {
        --type-p: 15px;

        --h1-type: calc(2 * var(--type-p));
        --h2-type: calc(1 * var(--type-p));
        --title-type: calc(2 * var(--type-p));

        --main-padding: calc(1.5 * var(--type-p));
        --year-padding: calc(0.8 * var(--type-p));
        --genre-padding: calc(2 * var(--type-p));
        --movie-padding: calc(1.5 * var(--type-p));
        --img-padding: calc(1.5 * var(--type-p));
        --suggest-padding: calc(0.5 * var(--type-p));
        --suggest-radius: 100px;
        --enter-radius: 300px;
    }

    main {
        display: flex;
    }

    .filter {
        flex: 1; /* Make the filter section flexible */
        max-width: 45vw;
    }

    .filter-year,
    .filter-genre {
        max-width: 10vw;
        border-radius: 10px;
    }

    .filters {
        display: flex;
        flex-direction: column;
    }

    .suggestion-mobile {
        display: none;
    }
    
    .suggestion-desktop {
        display: block;
    }

    .about {
        max-width: 40vw;
    }

    .movie {
        flex: 1; /* Make the movie section flexible */
    }

    .title {
        line-height: 110%;
    }

    img {
        width: 40%;
    }
}