@font-face {
    font-family: 'Pencerio'; /* Specify the desired font family name */
    src: url('styles/pencerio-hairline.otf') format('truetype'); /* Path to your font file */

    font-family: 'Caligna Free';
    src: url('styles/caligna-free.ttf') format('truetype');

    font-family: 'Kanopi Brazil';
    src: url('styles/kanopibrazil-regular.otf') format('truetype');

    font-family: 'Sergio Trendy';
    src: url('styles/sergio-trendy.ttf') format('truetype');

    /* font-family: 'Pinyon Script';
    src: url('styles/pinyonscript-regular.ttf'); */
}

/* 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 'Pinyon Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

/* body {
    padding: var(--main-padding);
} */

header,
.filter-year,
.suggest-movie,
.movie {
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
}

.filter-year,
.suggest-movie,
.movie {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

header {
    padding-bottom: var(--main-padding);
    padding-top: var(--main-padding);
}


header h1 {
    font-family: 'Kanopi Brazil';
    font-size: var(--h1-type);
    /* padding-bottom: var(--h1-type); */
    line-height: 110%;
    color: black;
}

body {
    background-color: #D5ACAF;
    color: black;
}

.label {
    font-family: 'Poppins', sans-serif;
    font-size: var(--h2-type);
    margin-bottom: var(--h2-type);
}

.filter-genre {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--genre-padding);
}

.filter-genre button {
    font-family: 'Poppins', sans-serif;
    font-size: var(--type-p);
}

.filter-year {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--year-padding);
    margin-left: var(--main-padding);
    margin-right: var(--main-padding);
    border-radius: 30px;
    background: #F3F0EA;
}

.filter-year label {
    font-family: 'Poppins', sans-serif;
    font-size: var(--type-p);
    margin-bottom: var(--year-padding);
    display: flex; /* Add flex display */
    align-items: center; /* Align items vertically */
}


/* .suggest-movie {
    text-align: center; 
} */

#suggest-button {
    font-family: 'Poppins', sans-serif;
    font-size: var(--h2-type);
    padding-top: var(--suggest-padding);
    padding-bottom: var(--suggest-padding);
    padding-left: calc(2 * var(--suggest-padding));
    padding-right: calc(2 * var(--suggest-padding));
    background: #eee;
    border-radius: var(--suggest-radius);
    cursor: pointer;
    width: 100%;
    text-align: center;
}

#suggest-button:active {
    background: #FCECA4;
}

.movie {
    background-color: black;
}

.imdbRating, 
.genre, 
.yearReleased, 
.director, 
.starring, 
.runTime, 
.plot, 
.streaming {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding: 10px;
    color: white;
}

.title {
    font-family: 'Kanopi Brazil';
    font-size: var(--title-type);
    padding-bottom: var(--movie-padding);
    color: White;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: calc(1.5 * var(--type-p));
    margin-bottom: 12px;
    cursor: pointer;
    font-size: var(--type-p);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--type-p);
    width: var(--type-p);
    background-color: #eee;
    border: solid 2px;
    border-color: black;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
    border: solid 2px;
    border-color: black;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #9B1800;
  }
  
  /* Create the checkmark/indicator (hidden when not checked)
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  } */
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } */

img {
    padding: var(--img-padding);
}



@media (min-width: 320px) {
    :root {
        --type-p: 60px;

        --h1-type: calc(2 * var(--type-p));
        --h2-type: calc(1 * var(--type-p));
        --title-type: calc(2 * var(--type-p));

        --main-padding: calc(1.5 * var(--type-p));
        --year-padding: calc(1 * var(--type-p));
        --genre-padding: calc(2 * var(--type-p));
        --movie-padding: calc(1.5 * var(--type-p));
        --img-padding: calc(1.5 * var(--type-p));
        --suggest-padding: calc(0.5 * var(--type-p));
        --suggest-radius: 100px;
    }

    .title {
        line-height: 110%;
    }

    img {
        width: 100%;
    }
}